@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root{
    --primary: #111111;
    --seconday: #e9f1f7;
    --tertiary: #df7dfa;
    --highlight-1: #1B0139;
    --highlight-2: #1d1d1d;
    --primary-accent: #161616;
    --secondary-accent: #313131;
    --tertiary-accent: #535353;

    font-size: 16px;
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: var(--highlight-2);
    color: var(--seconday);
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

.nav-bar {
    display: flex;
    flex-direction: column;
    
    background-color: var(--primary);
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 4rem;
}
.nav-list {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}
.nav-item {
    display: flex;
    align-items: center;
}
a.icon {
    font-size: 2.5rem;
    padding: 0.75rem;
}
.nav-item .nav-page {
    margin-left: 0.75rem;
    display: none;
}
.nav-bar:hover {
    width: 11rem;
}
.nav-bar:hover .nav-page {
    display: block;
}
.nav-item:hover {
    background-color: var(--highlight-1);
    width: 11rem;
}
.nav-item a {
    color: var(--seconday);
    text-decoration: none;
}

/* Page Main Body */

.main-content {
    margin-left: 6rem;
    margin-right: 2rem;
}
.nav-bar:hover ~ .main-content {
    margin-left: 13rem;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 0.75rem;
}
::-webkit-scrollbar-track {
    background-color: var(--highlight-2);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-accent);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

/* Text Elements */

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}
h3 {
    font-size: 2rem;
    margin-bottom: 0;
}
h4 {
    font-size: 1.5rem;
    margin-bottom: 0;
}
p {
    font-size: 1.25rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
}
a {
    color: var(--tertiary);
}

/* Work Page */

.job-block {
    display: flex;
    flex-direction: column;
}
.job-properties {
    display: flex;
    align-items: baseline;
}
.job-properties h4 {
    margin-top: 0;
}
.job-properties p {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}
@media only screen and (max-width: 750px){
    .job-properties {
        flex-direction: column;
    }
    .job-properties p {
        margin-top: 0;
        margin-left: 1rem;
        text-align: left;
    }
}

/* Education Page */

.academics-block {
    display: flex;
    flex-direction: column;
}
.academics-properties {
    display: flex;
    align-items: baseline;
}
.academics-properties h4 {
    margin-top: 0;
}
.academics-properties p {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}
@media only screen and (max-width: 750px){
    .academics-properties {
        flex-direction: column;
    }
    .academics-properties p {
        margin-top: 0;
        margin-left: 1rem;
        text-align: left;
    }
}

/* Contact Page */

.contact-block {
    display: flex;
    flex-direction: column;
}
.contact-properties {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.contact-properties h4 {
    margin-top: 0;
}
.contact-properties p {
    margin-right: 0;
    margin-top: 0;
    margin-left: 1rem;
    text-align: left;
}