.writing-container {
    width: 90%;
    margin: auto;
}
.writing-sample {
    width: 100%;
    margin: auto;
}
.writing-sample p {
    margin-left: 2rem;
    text-align: left;
    font-size: 1rem;
}
.writing-sample h4 {
    margin-left: 2rem;
}
.writing-sample header {
    background-color: var(--secondary-accent);
    border-radius: 1rem;
}
.writing-sample .article-head * {
    text-align: center;
    text-shadow: 0 1rem 1rem black;
    text-decoration: none;
}
.writing-sample .article-body {
    display: none;
    opacity: 0;
    height: 20rem;
    transition: opacity 0.25s, display 0s, visibility 0s;
}
.writing-sample:hover .article-body {
    display: block;
    opacity: 1;
    overflow-y: scroll;
}

/* Scroll Wheel */
.writing-sample ::-webkit-scrollbar-track {
    background-color: var(--primary);
}
.writing-sample ::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-accent);
}
.writing-sample ::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-accent);
}
.writing-sample ::-webkit-scrollbar {
    width: 1.25rem;
}