.writing-container {
    width: 90%;
    margin: auto;
}
.writing-sample {
    width: 100%;
    margin: auto;
}
.writing-sample p {
    margin-left: 2rem;
    text-align: left;
    font-size: 1rem;
}
.writing-sample h4 {
    margin-left: 2rem;
}
.writing-sample header {
    background-color: var(--secondary-accent);
}
.writing-sample .article-head * {
    text-align: center;
    text-decoration: none;
}
.writing-sample .article-body {
    height: 0rem;
    overflow-y: hidden;
    transition: 0.25s linear;
}
.writing-sample:hover .article-body {
    height: 20rem;
    overflow-y: scroll;
}

/* Scroll Wheel */
.writing-sample ::-webkit-scrollbar-track {
    background-color: var(--primary);
}
.writing-sample ::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-accent);
}
.writing-sample ::-webkit-scrollbar-thumb:hover {
    background-color: var(--seconday);
}
.writing-sample ::-webkit-scrollbar {
    width: 1.25rem;
}

/* Mobile */

@media only screen and (max-width: 750px){
    h2 {font-size: 1.75rem;}
    .writing-container {
        width: 100%;
    }
}

